.img-fundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    height: 100vh;
    width: 100vw;
    z-index: -1; 
    background: url('/fonseec-card3.png') center center/cover ;
}
.img-fundo > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 50px;
}
.img-fundo > p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 50px;
}

.rounded-circle{
    width: 170px;
    height: 156px;
}

.img-circle{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-left: center;
}
.icones-social-media{
    display: flex;
    justify-items: center;
}
.icones-social-media > a{
    margin-left: 15px;
    color: white;
}