.containerr {
  width: 100%;
  max-width: 1200px;
  height: 450px;
  margin: 0 auto;
  border: none;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  margin-top: 20px;
  height: 450px;
  /* background-color: green; */
}

.content h1 {
  color: rgb(190, 6, 6);
  font-size: 3.5rem;
  /* background-color: blue; */
  width: 100%;
  max-width: 800px;
  text-align: center;
}
.content p {
  font-size: 2rem;
  color: #101010;
  text-align: center;
  margin-top: 25px;
  width: 100%;
  max-width: 900px;
  /* background-color: yellow; */
}

.linhaTexto {
  border-top: 2px solid rgb(190, 6, 6);
  width: 400px;
}

@media (max-width: 750px) {
  .containerr {
    width: 100%;
    height: 450px;
  }

  .content h1 {
    /* background-color: aqua; */
    width: 100%;
    max-width: 750px;
    text-align: center;
    font-size: 48px;
  }

  .content p {
    width: 100%;
    max-width: 750px;
    height: 250px;
    color: #101010;

    font-size: 30px;
    padding: 5px;
    margin: 5px;
  }
  .linhaTexto {
    border-top: 2px solid rgb(190, 6, 6);
    width: 350px;
  }
}

@media (max-width: 675px) {
  .content h1 {
    font-size: 40px;
    color: rgb(190, 6, 6);
  }
  .content p {
    width: 100%;
    max-width: 450px;
    height: 200px;
    color: #101010;
    font-size: 28px;
    padding: 10px;
  }
}

@media (max-width: 550px) {
  .content h1 {
    font-size: 38px;
    color: rgb(190, 6, 6);
  }
  .content p {
    width: 100%;
    max-width: 650px;
    height: 200px;
    color: #101010;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  .linhaTexto {
    border-top: 2px solid rgb(190, 6, 6);
    width: 150px;
  }
}
