.FormCentral{
    max-width: 50%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    width: 750px;
}
.botao-enviar{
    border-radius: 0%;
    background-color: rgb(211, 22, 22);
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
}
.titleForm{
    background-color: rgba(212, 207, 207, 0.644);
    height: 60px;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 2px;
    font-family:fantasy;
}
.select-Artists{
    color:gray;
    padding-top: 15px;
}

.title-Contato{
    background-color: rgba(212, 207, 207, 0.644);
    height: 100;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 2px;
    font-family:fantasy;
}

.title-Contato h1{
    padding-bottom: 10px;
    color: black;
}

.title-Contato h2{
    padding-top: 5px;
}

.info-Contato{
    padding-top: 15px;
}

.title-Evento{
    background-color: rgba(212, 207, 207, 0.644);
    height: 100;
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
    letter-spacing: 2px;
    font-family:fantasy;
}

.info-Evento{
    padding-top: 15px;
    color: gray;
}