.conteudoo {
  position: relative;
  // z-index: 80;
  // border: 2em solid transparent;
}
// .conteudoo:before {
//   content: "";
//   position: absolute;
//   z-index: -1;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 66%;
//   border-left: 1px dashed #ccc;
// }
.mostra-conteudo {
  // float: left;
  width: 100%;
  max-width: 650px;
  border-right: 2em solid transparent;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.titulo-post {
  font-size: 180%;
  line-height: 120%;
}

.share {
  margin: 2em 0;
  .box {
    float: left;
    margin-right: 0.25em;
  }
  .link-botao {
    display: block;
    color: #fff;
  }
}

// .share

.facebook-share {
  .link-botao {
    background-color: #3b5998;
  }
}
.youtube-share {
  .link-botao {
    background-color: #ff0000;
  }
}
.spotify-share {
  .link-botao {
    background-color: #679215;
  }
}

.icone-botao {
  position: relative;
  width: 2em;
  float: left;
  display: block;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.caixa-botao {
  float: left;
  display: block;
  height: 100%;
}
.link-botao {
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 0.1em;
    font-size: 100%;
    line-height: 0;
    transform: translateY(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}
.link-botao span {
  font-weight: 700;
}
.link-botao {
  overflow: hidden;
  position: relative;
  height: 50px;
  width: 150px;
  line-height: 0;
  white-space: nowrap;
  border-radius: 1px;
}

.link-botao:after {
  content: "";
  display: table;
  clear: both;
}

.caixa-botao {
  padding: 25px;
  // font-size: 70%;
  line-height: 0;
}
