/* Section Icone Serviços*/
.ListaImagens a {
    color: #696969;
    text-decoration: none;
}
.ListaImagens a:hover{
    color: #FF8C00;
}
.ListaImagens{
    display: flex;
    justify-items: flex-start;
    overflow: hidden;
    text-align: center;
}
.ListaImagens-container{
    align-content: center;
    display: -ms-flexbox;
    display: flex;
    flex: 0 auto auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    max-width: 58rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.ListaImagens-Item{
    padding-left: 2rem;
    padding-right: 2rem;
    color: #777;
    display: block;
    margin-bottom: 3rem;
    outline: 0;
    transition: color .3s ;
    
}

.SectionTitleServiços{
    overflow: hidden;
    padding-top: 3rem;
    text-align: center;
}
.SectionTitleServiços h1{
    font-size: 2rem;
    letter-spacing: 4px;
    color:rgb(190, 6, 6);
    line-height: 1.333;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
    padding-right: 0;
    padding-left: 0;

}
.SectionTitleServiços a,h2{
    background: 0 0;
    color: #111;
    text-decoration: none;
    text-align: center;
}
.ListaImagens-Item img{
    display: inline-block;
    height: 3rem;
    margin-bottom: 2rem;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.8;
    margin: 0 0 1rem;
}