.SectionTitle{
    background-color: #777;
    overflow: hidden;
    padding-top: 2.3%;
    text-align: center;
    height: 7rem;
    width: auto;
    text-align: center;
}
.SectionTitle h1{
    font-size: 2rem;
    letter-spacing: 4px;
    color: rgb(190, 6, 6);
    line-height: 1.333;
    margin: 0 auto;
    text-transform: uppercase;
}
.SectionTitleNews{
    
    overflow: hidden;
    padding-top: 2rem;
    text-align: center;
    height: 7rem;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}
.SectionTitulo{
    height: 25px;
    background-color: #777;
    text-align: center;
    height: 5rem;
    color: white;
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 1rem;
}
.linhaText{
    border-top: 3px solid rgb(190, 6, 6);
    height: 2px;
    margin: 5px auto 3rem;
    width: 10rem;
}

