/* @import "tailwindcss/base"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/components";

@import "tailwindcss/utilities"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  contain: layout;
  /* font-family: 'Bebas Neue', cursive;*/
  font-family: "Titillium Web", sans-serif;
}
