/* @import "tailwindcss/base"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/components";

@import "tailwindcss/utilities"; */


a:hover{
    color:grey;
}

body{
    contain: layout;
    font-family: 'Bebas Neue', cursive;
    font-size:1.5rem;
}

